@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #f7a8e9;
	--second-color: #87d6f4;
	--third-color: #fced60;
	--frame1-color: #a3f2ea;
	--frame1-border-color: #71eeeb;
	--frame2-color: #e7bbf7;
	--frame2-border-color: #de86f7;
	--frame3-color: #94ff91;
	--frame3-border-color: #8ec983;
	--frame4-color: #ffea9e;
	--frame4-border-color: #fdb254;
	--frame5-color: #f8bbd5;
	--frame5-border-color: #fd87be;
	--button-color: #64dfa5;
}
